<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

  <title>Title</title>
</head>
<body>
<h1>로그인</h1>

<form class="login-form">
  <input type = "text" class="input" id = "userName" placeholder="Enter UserName" required>
  <input type = "text" class="input" id = "password" placeholder="Enter password" required>
  <button id="login"> 로그인 </button>
</form>

</body>
<script src="/js/member.js"></script>
</html>