
.searchLink{
    width:100%;
    height:auto;
    overflow:hidden;
    margin-top:5px;
    background-color:rgb(255, 255, 255);
    border-radius:1rem;
    box-shadow: 1px 1px 1px rgb(59, 81, 128);
}

.check-title{
    margin-left:2%;
    margin-right:2%;
    width:100%;
    font-size:15px;
    font-weight:800;
    padding: 10px 5px 3px 10px;
    border-radius:1rem;
}
.check-category{
    float:left;
    font-size:15px;
    font-weight:800;
    padding: 10px 3px 10px 10px;
    border-radius:1rem;
}
.checkbox-group{
    float:right;
}
.checkbox{
    float:left;
    width:auto;
    overflow:hidden;
    border-radius:1rem;
    margin-right:10px;
    padding: 10px 3px 10px 10px;

}

.checkbox-box{
    float:left;
}
.checkboxText{
    margin-left:3px;
    margin-right:3px;
    float:left;
}