#SearchList{
}

#SearchData-Box{
    float:left;
    width:23%;
    height:60px;
    margin-left:10px;
    margin-bottom:5px;
    border-radius:0.5rem;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

#SearchData-Name{
    float:left;
    margin-top:9%;
    margin-left:5%;
}

#SearchData-Image{
    border-radius:2rem;
    float:left;
    height:40px;
    margin-top:4%;
    margin-left:4%;
}
.python-checkbox, .java-checkboc{
}