.main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 21px;
}
.main-container .main-wrap{
	width:768px;

}

.main-container .main-wrap{
	padding-top:55px;
}
.main-container .main-wrap{
	width: 100px;
	height: 60px;
}

.main-container .main-wrap{
	display:flex;	
	flex-direction: column;
	align-items: center;
}

.signUp-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signUp-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px gray;
	border-radius: 0.5rem;
	background: white;
}

.padding-wrap{
	margin-top: 13px;
}

.signUp-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

.signUp-button-wrap {
	padding-top: 13px;
}
.signUp-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: #000000;
	color: white;
	border: solid 1px #000000;
	border-radius:0.5rem;
}

.radio-wrap-name, .radio-wrap-type{
	color:gray;
	margin-top:13px;
	margin-left:10px;
	width:80px;
	float:left;
}
.radio-wrap{
	margin-top:10px;
	width:150px;
	float:left;
	font-size:14px;
}

#userSex_M, #userSex_W, #userType_dev, #userType_com{
	height:10px;
	width:10px;
}
#userSex_W, #userType_com{
	margin-left:40px;
}