.main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 21px;
}
.main-container .main-wrap{
	width:768px;

}

.main-container .main-wrap{
	padding-top:55px;
}
.main-container .main-wrap{
	width: 100px;
	height: 60px;
}

.main-container .main-wrap{
	display:flex;	
	flex-direction: column;
	align-items: center;
}

.signUp-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signUp-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px var(	--border-gray-color );
	background: white;
}

.padding-wrap{
	margin-top: 13px;
}

.signUp-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

.signUp-button-wrap {
	padding-top: 13px;
}
.signUp-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: #000000;
	color: white;
	border: solid 1px #000000;
}
